include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpapp1 *.css
recursive-include erpapp1 *.csv
recursive-include erpapp1 *.html
recursive-include erpapp1 *.ico
recursive-include erpapp1 *.js
recursive-include erpapp1 *.json
recursive-include erpapp1 *.md
recursive-include erpapp1 *.png
recursive-include erpapp1 *.py
recursive-include erpapp1 *.svg
recursive-include erpapp1 *.txt
recursive-exclude erpapp1 *.pyc